# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.idea
*.vscode
.project
.pydevproject

# Environment variables
.env

# Local development settings
*.sqlite3

# Log files
*.log

# Media files
media/

# Static files
staticfiles/

# Compiled Python files
*.pyc

# macOS
.DS_Store

# Windows
Thumbs.db
