{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<title>{% block title %}Каталог компаний {{ current_year }}{% endblock %}</title>

<div class="container"><br><br>
    <div class="row">
        <div class="col-md-9">
            <div class="main-content">
                <h1 class="p-4 mb-3 bg-body-tertiary rounded">Каталог компаний</h1><br>
<p>Добро пожаловать на <b>Engil</b>.ru – вашем надежном партнере в поиске объективной информации о различных организациях. Мы предоставляем уникальную платформу, где пользователи делятся своим опытом и оценивают компании. Реальные, честные и подробные отзывы помогут вам принимать осознанные решения, выбирая надежных партнеров и избегая трудностей.</p><br>
{% for rubric in rubrics %}
                <li>★ <a href="{% url 'rubric_detail' slug=rubric.slug %}">{{ rubric }}</a></li><br>
{% endfor %}
<p><br><br>Каталог компаний создан для тех, кто ценит надежные и проверенные источники информации при выборе бизнес-партнеров. На нашей платформе вы найдете тысячи реальных историй успеха и предупреждений от пользователей, которые делились своим опытом с различными компаниями.
<br><br>
Мы объединяем сообщество, где каждый голос имеет значение. Каталог охватывают широкий спектр отраслей, начиная от услуг и заканчивая товарами. Вы сможете оценить качество обслуживания, профессионализм персонала и другие важные аспекты, которые влияют на ваш выбор.
<br><br>
Наша платформа предоставляет удобные фильтры и инструменты поиска, чтобы вы могли быстро находить интересующие вас компании. Мы поддерживаем прозрачность и объективность, предоставляя подробные данные о каждой организации, а также рейтинги и обзоры.
<br><br>
Присоединяйтесь к нашему сообществу, делитесь своим мнением и принимайте обоснованные решения. С нами вы всегда будете в курсе, чтобы сделать правильный выбор для своего бизнеса или потребительских нужд.<br><br><br><br><br></p>
            </div>
        </div>


            </div>
        </div>
    </div>
</div>

{% endblock %}




